body {
  background-color: #F1EFE7;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px 5%;
}

.header-container {
  width: 1000px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    padding: 20px;
    width: 1300px;
    height: 150px;
    margin: 0px 5%;
}

.about-container p {
font-size: 20px;
}

.profile {
  max-width: 20%;
  padding: 20px;
}

.profile-image {
  width: 100%;
  display: flex;
}

.subHeading {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 300px;
    margin: 5px auto;
  }
.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    cursor: pointer;
    display: grid;
    align-content: end;
    object-fit: cover;
  }

#marketing-website {
    grid-area: marketing-website;
    background-image: url(../images/02-portfolio-1.jpg);
  }
#netflix {
  width: 100%;
  height: 100%;
  object-fit: cover;
    grid-area: netflix;
    background-image: url();
  }
#youtube {
    grid-area: youtube;
    background-image: url(../images/youtube.jpg);
  }
#disney {
    grid-area: disney;
    background-image: url(../images/disney.jpeg);
  }
#spotify {
    grid-area: spotify;
    background-image: url(../images/spotify.png);
  }
#bbciplayer {
    grid-area: bbciplayer;
    background-image: url(../images/bbc.png);
  }
#channel4 {
    grid-area: channel4;
    background-image: url(../images/4.jpeg)
  }
#f1tv {
    grid-area: f1tv;
    background-image: url(../images/f1.jpeg);
  }

#categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px 300px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "marketing-website marketing-website"
    "marketing-website marketing-website"
    "netflix youtube"
    "disney spotify"
    "bbciplayer channel4"
    "f1tv f1tv"
    ;
  }

.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }

.heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid grey;
  }




@media only screen and (max-width: 1000px) {
    #navBar {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }

@media only screen and (max-width: 600px) {
    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "marketing-website"
      "netflix"
      "youtube"
      "disney"
      "spotify"
      "bbciplayer"
      "channel4"
      "f1tv";
    }
  }

.contact {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid grey;
    width: 200px;
    margin: 5px auto;
  }

.info {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
}

